header{
  background-image:url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiG4eKvhN3hAhWkyIUKHaiTA88QjRx6BAgBEAU&url=https%3A%2F%2Fweheartit.com%2Fentry%2F272325541&psig=AOvVaw22AI6pDtTvvyvzw-_l78JH&ust=1555793419048623");
  background-repeat: no no-repeat;
  background-position: center;
  background-size: cover;
}
