body{
  background-color:aqua;
  color:black;
  font-size:20px;
}
header{
  background-color:black;
}
nav{
  float:right;
  margin-top:50px;
}
nav ul li{
  display:inline;
  padding:10px;
}
nav ul li a{
  color:aqua;
}
nav ul li a:hover{
  background-color: lightblue;
}
h1{
  color:blue;
  text-align: center;
  font-family:monospace;
  font-style: italic;
  font-size:50px;
}
header img{
  width:200px;;
  border-radius:500px;
  height:200px;
}
h2, p{
  text-align: center;
}
ul li{
  display: flex;
  justify-content: center;
}
ol li{
  display: flex;
  justify-content: center;
}
footer{
  display: flex;
  justify-content: space-around;
}
i{
  font-size:10em;
  padding: 20px;
}
portfolio{
  display: flex;
  justify-content: space-around;
}
