body{
  background-color:aqua;
  color:black;
}
header{
  background-color:black;
}
nav{
  float:right;
}
nav ul li{
  display:inline;
  padding:10px;
}
nav ul li a{
  color:aqua;
  margin-top: 20px;
}
nav ul li a:hover{
  background-color: lightblue;
}
h1{
  color:blue;
  text-align: center;
}
header img{
  width:100px;;
  border-radius:500px;
  height:100px;
}
h2, p{
  text-align: center;
}
ul li{
  display: flex;
  justify-content: center;
}
ol li{
  display: flex;
  justify-content: center;
}
footer{
  display: flex;
  justify-content: space-around;
}
i{
  font-size:10em;
}
